@font-face {
    font-family: 'Absolute';
    src: url('./Absolute.woff2') format('woff2'),
        url('./Absolute.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

