@font-face {
    font-family: 'Manufacturing Consent';
    src: url('./ManufacturingConsent-Regular.woff2') format('woff2'),
        url('./ManufacturingConsent-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

