@font-face {
    font-family: 'Capo Rose';
    src: url('./capo_rose.woff2') format('woff2'),
        url('./capo_rose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}