@font-face {
    font-family: 'Adogare';
    src: url('./Adogare.woff2') format('woff2'),
        url('./Adogare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

