@font-face {
    font-family: 'Bezmiar';
    src: url('./Bezmiar.woff2') format('woff2'),
        url('./Bezmiar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

