@font-face {
    font-family: 'Etude Noire';
    src: url('./EtudeNoire-Light.woff2') format('woff2'),
         url('./EtudeNoire-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Etude Noire';
    src: url('./EtudeNoire-Medium.woff2') format('woff2'),
         url('./EtudeNoire-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Etude Noire';
    src: url('./EtudeNoire.woff2') format('woff2'),
         url('./EtudeNoire.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Etude Noire';
    src: url('./EtudeNoire-Bold.woff2') format('woff2'),
         url('./EtudeNoire-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}