@font-face {
    font-family: 'Bungasai';
    src: url('./Bungasai.woff2') format('woff2'),
        url('./Bungasai.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

