@font-face {
    font-family: 'Pistilli';
    src: url('./Pistilli.woff2') format('woff2'),
        url('./Pistilli.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

