@font-face {
    font-family: 'Blackout';
    src: url('./Blackout.woff2') format('woff2'),
        url('./Blackout.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

