@font-face {
    font-family: 'Vandenbroucke Franck';
    src: url('./Vandenbroucke.woff2') format('woff2'),
        url('./Vandenbroucke.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
