@font-face {
    font-family: 'Autobahn';
    src: url('./Autobahn.woff2') format('woff2'),
        url('./Autobahn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

